<!DOCTYPE html>
<html>
    <head>
        <title>Inventory Management System</title>
        <link rel="stylesheet" href="{{url_for('static', path='style.css')}}">
    </head>
    <body>
        <h1>{{message}}</h1>
        <div class="div1">test test, can you see me?
        Below is my github profile picture. Click on it to see my repositories. (Definitely not a self promotion)</div>
        <p><a href="https://github.com/Tomy-Ho">
            <img src="/static/plushie-punch.jpg" alt="random image" width="200" height="200" usemap="#github_image">
        </a></p>

        <button class="loginbtn" onclick="window.location.href='/login'">
            Please login to get access to the inventory.
        </button>
    </body>
</html>